body {
    background-color: #0b0f14;
    color: #00ff9c;
    font-family: monospace;
}

.stApp {
    background: radial-gradient(circle, #0b0f14, #020408);
}

h1,h2,h3 {
    color:#00ff9c;
    text-shadow:0 0 10px #00ff9c;
}

.stButton>button {
    background:#00ff9c;
    color:black;
    border:none;
    box-shadow:0 0 10px #00ff9c;
}

.block-container {
    border:1px solid #00ff9c;
    padding:20px;
    border-radius:10px;
}

.stProgress div div {
    background-color:red;
}
